%center
	%h1 CSV Parsing  Example
.col-md-offset-1.col-md-5.col-sm-offset-1.col-sm-5
	%p="Here is a #{link_to('csv file', root_url + 'demo.csv')}. It contains 10000 lines. With ThreadsPad gem we can split a parsing process into a few chunks and run them at same time.".html_safe

	

	
	=form_tag main_start_path, method: :get, remote: true do 
		
		%h2 Amount of parsing threads. 
		%ul.checkbox
			%li
				=label_tag do
					=check_box_tag 'threads[]', 1, true, id: 'threads_1'
					1 Parsing Job
			%li
				=label_tag do
					=check_box_tag 'threads[]', 2, false, id: 'threads_2'
					2 Parsing Job
			%li
				=label_tag do
					=check_box_tag 'threads[]', 3, false, id: 'threads_3'
					3 Parsing Job
			%li
				=label_tag do
					=check_box_tag 'threads[]', 4, false, id: 'threads_4'
					4 Parsnig Job
			%li
				=label_tag do
					=check_box_tag 'threads[]', 5, false, id: 'threads_5'
					5 Parsing Job
		The parsing job consist of following processes:
		%ul
			%li reading a csv file
			%li parsing a bunch of lines
			%li saving mined data into DB
		%h2 Let's try it
		=button_tag 'Start', class: 'btn btn-lg btn-default start'

		
	
	.row
	%center
	%h2
		%span#percents=@pad.current || 0
		='%'
	%br
	%h2 Logs
	You can refresh the page, but logs won't disappear
	#logs
		-@pad.logs.each do |l|
			=format_log l
.col-md-6.col-sm-6
	#graph=render partial: 'graph'
-if !@pad.done?	
	:javascript
		enable_buttons(false)
		start_import_timer()
